<form [formGroup]="employeeGroup" class="container" style="padding:10px; width:700px">
  <div class="form-group row">
    <label for="id" class="col-2 col-form-label">ID</label>
    <div class="col-10">
      <input type="text" readonly class="form-control" formControlName="id" id="id">
    </div>
  </div>
  <div class="form-group row">
    <label for="firstName" class="col-2 col-form-label">First Name</label>
    <div class="col-10">
      <input type="text" class="form-control" formControlName="firstName" id="firstName">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-2 col-form-label">Last Name</label>
    <div class="col-10">
      <input type="text" class="form-control" formControlName="lastName" id="lastName">
    </div>
  </div>
  <div class="form-group row">
    <label for="gender" class="col-2 col-form-label">Sex</label>
    <div class="col-10">
      <input type="text" class="form-control" formControlName="gender" id="gender">
    </div>
  </div>
  <div class="form-group row">
    <label for="age" class="col-2 col-form-label">Age</label>
    <div class="col-10">
      <input type="text" class="form-control" formControlName="age" id="age">
    </div>
  </div>
  <div class="form-group row">
    <label for="dept" class="col-2 col-form-label">Dept</label>
    <div class="col-10">
      <avam-drop-down 
      [dropDirection]="'BOTTOM'" 
       [showDropDownButton]="true" 
       [listItems]="depts"
       [isSearchable] = "true"
        [visibleItemsCount]="4" 
        [selectedValue]="selectedDept" formControlName="dept" 
        [displayField]="'name'"></avam-drop-down>
    </div>
  </div>

  <div class="form-group row">
    <label for="dept" class="col-2 col-form-label">Dept</label>
    <div class="col-10">
      <select class="form-control">
        <!-- <option value="default">One</option> -->
        <option value="1">One</option>
        <option value="2">One</option>
        <option value="3">One</option>
        <option value="4">One</option>
      </select>

    </div>
  </div>

  <div class="row">
    <div class="colg">
      {{ employeeGroup.value | json }}
    </div>
  </div>
</form>
