<div class="d-flex flex-column avam-dd">
  <div class="d-flex">
    <input type="text"  #input style="width:100%" >
    <button (click)="toggleDropDown(true)" style="flex-shrink:0" #btn tabindex="-1">
      <i class="fa fa-caret-down"></i>
    </button>
  </div>
  <ul *ngIf="isDropListVisible" class="ddMenu" id="ddMenu" [ngClass]="getDropDownDirectionClass()">
    <li *ngFor="let item of viewList;" [value]="item" (click)="onSelect(item, true)" [ngClass]="getSelectedClass(item)">{{getDisplayValueForItem(item)}}</li>
  </ul>
</div>
